{{>fragments/header}}

<div class="form-container container mt-4">
    <h2 class="text-center mb-4 text-white">
        {{#team.id}}Editar Equipo{{/team.id}}{{^team.id}}Registrar Nuevo Equipo{{/team.id}}
    </h2>

    <form id="teamForm">´
    <input type="hidden" name="_csrf" value="{{token}}"/>
        {{#team.id}}
        <input type="hidden" id="teamId" value="{{team.id}}">
        {{/team.id}}

        <div class="mb-3">
            <label class="form-label text-white">Nombre del Equipo</label>
            <input type="text" class="form-control bg-dark text-white" id="teamName"
                value="{{#team.name}}{{team.name}}{{/team.name}}" required>
        </div>

        <div class="mb-3">
            <label class="form-label text-white">Estadio</label>
            <input type="text" class="form-control bg-dark text-white" id="stadiumName"
                value="{{#team.stadiumName}}{{team.stadiumName}}{{/team.stadiumName}}" required>
        </div>

        <div class="mb-4">
            <label class="form-label text-white">Logo (PNG/JPG)</label>
            <input type="file" class="form-control bg-dark text-white" id="teamLogo" accept="image/*"
                required>{{^team.id}}{{/team.id}}

            <div class="logo-preview mt-3" id="logoPreview">
                {{#team.logoData}}
                <p class="text-white-50 small">Logo actual:</p>
                <img src="/team/{{id}}/logo"
                    style="max-width: 150px; border-radius: 8px; border: 2px solid #3b82f6;">
                {{/team.logoData}}
            </div>
        </div>

        <button type="submit" class="btn btn-primary w-100 fw-bold">
            {{#team.id}}Actualizar Cambios{{/team.id}}{{^team.id}}Guardar Equipo{{/team.id}}
        </button>

        <a href="/admin/teams/team-management-screen" class="btn btn-secondary w-100 mt-2">Volver a Pantalla de Administracion de Equipos</a>
    </form>
</div>

{{>fragments/footer}}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/create_team.js"></script>