{{>fragments/header}}

<div class="form-container">
    <h2 class="text-center mb-4 text-white"> Registrar Nuevo Equipo </h2>
    <form id="teamForm">
        <div class="mb-3">
            <label class="form-label">Nombre del Equipo</label>
            <input type="text" class="form-control" id="teamName" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Estadio</label>
            <input type="text" class="form-control" id="stadiumName" required>
        </div>
        <div class="mb-4">
            <label class="form-label">Logo (PNG/JPG)</label>
            <input type="file" class="form-control" id="teamLogo" accept="image/*" required>
            <div class="logo-preview" id="logoPreview"></div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Guardar Equipo</button>
        <a href="Team_Management_Screen" class="btn btn-secondary w-100 mt-2">Volver a Pantalla de Gestión</a>
    </form>
</div>
</div>
<script>
    const teamForm = document.getElementById('teamForm');

    teamForm.addEventListener('submit', (e) => {
        e.preventDefault();

        // Succes message simulation
        console.log("Datos del equipo guardados localmente");

        Swal.fire({
            title: '¡Recopilado!',
            text: 'Datos guardados localmente. Volviendo al panel...',
            icon: 'success',
            background: '#1e293b',
            color: '#ffffff',
            timer: 1500,
            showConfirmButton: false
        }).then(() => {
            //Redirect to Team Management Screen
            window.location.href = 'Team_Management_Screen';
        });
    });
</script>

{{>fragments/footer}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/create_team.js"></script>