{{>fragments/header}}
<div class="d-flex justify-content-center mt-5">
    <div class="card shadow-sm" style="max-width: 400px; width: 100%;">
        <div class="card-body p-5">
            <h2 class="mb-4 text-center text-primary">Iniciar Sesión</h2>

            {{#error}}
            <div class="alert alert-danger py-2 small text-center" role="alert">
                {{error}}
            </div>
            {{/error}}

            <form action="/login" method="post" class="mt-4">

                <input type="hidden" name="_csrf" value="{{token}}">

                <div class="mb-3">
                    <label for="usernameInput" class="form-label text-primary">Nombre de Usuario</label>
                    <input type="text" id="usernameInput" name="username" class="form-control"
                        placeholder="Tu nombre de usuario" pattern="^\S+$"
                        title="El nombre de usuario no contiene espacios" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label text-primary">Contraseña</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-primary w-100 py-2 mt-2">
                    Entrar
                </button>

                <p class="mt-4 text-center small">
                    ¿No tienes cuenta?
                    <a href="/register" class="text-decoration-none">Regístrate aquí</a>
                </p>

                <div class="text-center mt-2">
                    <a href="/" class="text-muted small text-decoration-none">← Volver al inicio</a>
                </div>
            </form>
        </div>
    </div>
</div>
{{>fragments/footer}}